<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>285978997720-hc81ena5oc72hpfu89e23j9038rev7gv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.285978997720-hc81ena5oc72hpfu89e23j9038rev7gv</string>
	<key>API_KEY</key>
	<string>AIzaSyCNBFe6fC60n8PPoenxRzrDoH-SYw_LBX0</string>
	<key>GCM_SENDER_ID</key>
	<string>285978997720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iths.AU22Transcribatron</string>
	<key>PROJECT_ID</key>
	<string>transcribatron-b8efc</string>
	<key>STORAGE_BUCKET</key>
	<string>transcribatron-b8efc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:285978997720:ios:077fa7f428f6dfecd9b8ad</string>
</dict>
</plist>